  <div id="header" style="background-color:{{team.primaryColor}}">
    <img src="/images/{{team.0.mascot}}.png" alt="" id="teamLogo" style="height: 100px; width: 150px;">
      <h1 class="teamName" style="color: white">{{team.0.teaminfo.teamName}}</h1>
  </div>
  <ul class="nav" id="nav" style="background-color: {{team.0.teaminfo.secondaryColor}}"> 
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Roster</a>
      </li>
  </ul>
<h2 class="sectionHeader">Schedule</h2>
<table class="table table-inverse" id="teamSchedule">
  <thead>
    <tr>
      <th>Date</th>
      <th>Opponent</th>
      <th>Time</th>
      <th>% To Win</th>
    </tr>
  </thead>
  <tbody>
    {{#each team.0.gameSchedule}}
    <tr>
      <td>{{date}}</td>
      <td><img src="/images/{{opponent}}.png" alt="" class="scheduleImage"></td>
      <td>7:00PM</td>
      <td>54%</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<h2 class="sectionHeader">Team Roster</h2>
<table class="table table-inverse" id="playerStats">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Nationality</th>
      <th>Team</th>
      <th>Position</th>
      <th>Games Played</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {{#each team}}
    <tr>
      <td>{{name}}</td>
      <td>{{age}}</td>
      <td>{{nationality}}</td>
      <td>{{team}}</td>
      <td>{{position}}</td>
      <td>{{games_played}}</td>
      <td>{{goals}}</td>
      <td>{{assists}}</td>
      <td>{{points}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>